.update {
  margin-bottom: 1.5rem;

  &-top {
    margin-bottom: 1rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    margin-left: -2rem;

    &-icon {
      width: 1.5rem;
      height: 1.5rem;
      background-color: lighten($color: $dark-gray, $amount: 10);
      border-radius: 50%;
      text-align: center;
      line-height: 1.5rem;

      span {
        vertical-align: middle;
        display: inline-block;
        font-size: 0.8rem;
      }
    }

    &-title {
      font-size: 0.9rem;
      text-transform: uppercase;
    }
  }

  &-list {
    list-style-type: none;
    padding-left: 0.05rem;
  }

  &-item {
    margin-bottom: 0.75rem;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 0.75rem;
      height: 1px;
      background-color: lighten($color: $gray, $amount: 10);
      top: 0.4rem;
      left: -1.75rem;
    }

    &-title {
      margin-bottom: 0.25rem;
      color: lighten($color: $light-gray, $amount: 10);
    }

    &-text {
      color: $light-gray;
      line-height: 1.5;
    }
  }
}
