.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;

  &-logo {
    img {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  &-links {
    display: flex;
    gap: 1rem;

    li {
      list-style: none;

      a {
        text-decoration: none;
        color: $white;
        font-weight: 700;
        font-size: 0.9rem;
      }
    }
  }
}
